<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butter Chicken</title>
</head>
<link rel="stylesheet" href="dishes.css">
<body class="light">
    <img src="Dishes/burger.jpg">
    <div class="instruction">
   <h1> Ingredients:</h1>
   <ul>
<li>1 lb (450g) ground beef</li>
<li>Salt and pepper to taste</li>
<li>4 hamburger buns</li>
<li>1 tablespoon chili powder</li>
<li>4 slices of cheese (such as American, cheddar, or Swiss)</li>
<li>Optional toppings: lettuce, tomato slices, onion slices, pickles, ketchup, mustard, mayonnaise</li>
</ul>
<h1>Instructions:</h1>
 <h2>Form Patties: </h2>
 <ul>
    <li> Divide the ground beef into 4 equal portions. Shape each portion into a round patty, about 1/2 to 3/4 inch thick. Season both sides of the patties with salt and pepper.</li>
 </ul>

<h2>Preheat Grill or Skillet:</h2>
<ul><li> Preheat your grill to medium-high heat or heat a skillet over medium-high heat on the stove.</li>
</ul>

<h2>Cook Patties:</h2>
<ul>
    <li>Place the patties on the grill or skillet and cook for about 4-5 minutes on each side, or until they reach your desired level of doneness. If using a grill, you can cover the grill while cooking to help the cheese melt later.
    </li>
</ul>
<h2>Add Cheese:  </h2>
<ul><li>During the last minute of cooking, place a slice of cheese on top of each patty. Close the grill lid or cover the skillet to allow the cheese to melt.</li></ul>
<h2>Toast Buns: </h2>
<ul><li>While the patties are cooking, split the hamburger buns and place them on the grill or skillet, cut side down. Toast them for about 1-2 minutes until lightly golden brown.</li></ul>
<h2>Assemble Burgers:</h2>
<ul><li>Place each cooked patty on the bottom half of a toasted bun. Add any desired toppings such as lettuce, tomato slices, onion slices, pickles, ketchup, mustard, or mayonnaise.</li></ul>
<h2>Serve:</h2>
<ul><li>Place the top half of the bun on top of the toppings to form a burger. Serve the cheeseburgers immediately, and enjoy!</li></ul>

<h2>Video Tutorial</h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/ep6k3Ofcf2s?si=fQ5XwjVzorK9LWEr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<section class="footer">
    <footer>
      <div class="end">
        <a href="#">Contact Us</a>
        <a href="#">LinkedIn</a>
        <a href="#">Instagram</a>
        <a href="#">Github</a>
    </div>
    </footer>
  </section>
  <script>
  const bodyParser = require('body-parser');
  const path = require('path');
  app.use(bodyParser.urlencoded({ extended: false }));
  app.set('views', path.join(__dirname,'views'));
  </script>
</body>
</html>