<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butter Chicken</title>
</head>
<link rel="stylesheet" href="dishes.css">
<body class="light">
    <img src="Dishes/omurice.jpg">
    <div class="instruction">
   <h1> Ingredients:</h1>
   <ul>
<li>2 cups cooked rice (preferably short-grain Japanese rice)</li>
<li>1 tablespoon vegetable oil</li>
<li>1/2 onion, finely chopped</li>
<li>1/2 carrot, finely chopped</li>
<li>1/2 cup frozen peas</li>
<li>2 tablespoons ketchup</li>
<li>2 teaspoons soy sauce</li>
<li>Salt and pepper to taste</li>
<li>4 large eggs</li>
<li>Butter for cooking</li>
<li>Optional garnish: additional ketchup, chopped parsley or green onions</li>
</ul>
<h1>Instructions:</h1>
 <h2>Prepare Fried Rice:  </h2>
 <ul>
    <li>Heat vegetable oil in a large skillet or wok over medium heat. Add chopped onion and carrot, and cook until softened, about 5 minutes. Add frozen peas and cooked rice to the skillet, and stir-fry until heated through.</li>
 </ul>

<h2>Season Fried Rice:</h2>
<ul><li>Add ketchup and soy sauce to the skillet, and mix well to combine. Season with salt and pepper to taste. Continue cooking for another 2-3 minutes, stirring occasionally, until the flavors meld together. Remove from heat and set aside.</li>
</ul>

<h2>Make Omelette:</h2>
<ul>
    <li>In a separate bowl, beat the eggs until well combined. Heat a non-stick skillet over medium heat and add a small knob of butter. Once the butter has melted and starts to foam, pour in half of the beaten eggs to make a thin omelette.</li>
</ul>
<h2>Wrap Fried Rice:  </h2>
<ul><li>Once the edges of the omelette begin to set, spoon half of the fried rice onto one side of the omelette. Fold the other half of the omelette over the rice to enclose it, forming a half-moon shape. Slide the omurice onto a plate.</li></ul>
<h2>Repeat: </h2>
<ul><li>Repeat the process with the remaining eggs and fried rice to make a second omurice.</li></ul>
<h2>Garnish and Serve: </h2>
<ul><li>Drizzle additional ketchup over the top of each omurice and sprinkle with chopped parsley or green onions for garnish, if desired. Serve immediately and enjoy!</li></ul>
<h2>Video Tutorial</h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/9x_bnZBilSM?si=dtqaBpfEMMAei6t_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<section class="footer">
    <footer>
      <div class="end">
        <a href="#">Contact Us</a>
        <a href="#">LinkedIn</a>
        <a href="#">Instagram</a>
        <a href="#">Github</a>
    </div>
    </footer>
  </section>
</body>
</html>