<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butter Chicken</title>
</head>
<link rel="stylesheet" href="dishes.css">
<body class="light">
    <img src="Dishes/pancakes.jpg">
    <div class="instruction">
   <h1> Ingredients:</h1>
   <ul>
<li>1 cup (125g) all-purpose flour</li>
<li>2 tablespoons granulated sugar</li>
<li>2 teaspoons baking powder</li>
<li>1/2 teaspoon salt</li>
<li>1 cup (240ml) milk</li>
<li>1 large egg</li>
<li>2 tablespoons unsalted butter, melted</li>
<li>1 teaspoon vanilla extract (optional)</li>
<li>Butter or oil for cooking</li>

</ul>
<h1>Instructions:</h1>
 <h2>Mix Dry Ingredients: </h2>
 <ul>
    <li> In a large mixing bowl, whisk together the flour, sugar, baking powder, and salt until well combined.</li>
 </ul>

<h2>Combine Wet Ingredients:</h2>
<ul><li>In a separate bowl, whisk together the milk, egg, melted butter, and vanilla extract (if using) until smooth.</li>
</ul>

<h2>Combine Wet and Dry Ingredients</h2>
<ul>
    <li>Pour the wet ingredients into the dry ingredients and stir until just combined. It's okay if there are a few lumps in the batter. Be careful not to overmix, as this can result in tough pancakes.</li>
</ul>
<h2>Preheat the Griddle or Pan:  </h2>
<ul><li> Preheat a griddle or non-stick skillet over medium heat. Add a small amount of butter or oil to grease the surface.</li></ul>
<h2>Cook Pancakes: </h2>
<ul><li>Once the griddle or pan is hot, pour about 1/4 cup of batter onto the cooking surface for each pancake. Cook until bubbles form on the surface of the pancake and the edges look set, about 2-3 minutes.</li></ul>
<h2>Flip:</h2>
<ul><li>Carefully flip the pancakes using a spatula and cook for an additional 1-2 minutes on the other side, until golden brown and cooked through.</li></ul>
<h2>Serve:</h2>
<ul><li> Transfer the cooked pancakes to a plate and serve immediately. You can serve pancakes with toppings like maple syrup, fresh fruit, whipped cream, or chocolate chips.</li></ul>
<h2>Repeat:</h2>
<ul><li>Continue cooking the remaining batter in batches, greasing the griddle or pan as needed, until all the batter is used.</li></ul>
<h2>Enjoy:</h2>
<ul><li>Serve the pancakes warm and enjoy their fluffy goodness!</li></ul>

<h2>Video Tutorial</h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/9zCVCL4V8JQ?si=DuC2SLRFQR7aNu9F" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<section class="footer">
    <footer>
      <div class="end">
        <a href="#">Contact Us</a>
        <a href="#">LinkedIn</a>
        <a href="#">Instagram</a>
        <a href="#">Github</a>
    </div>
    </footer>
  </section>
</body>
</html>