<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="recipe.css">
    <title>Recipes</title>
</head>
<body class="body light">
    
    <div class="header">
        <img src="preview.png" height="80px" style="border: 2px solid black; border-radius:50%; " >
        <div class="search">   
         <input type="text" class="search-box" placeholder="Search..."><button class="search-button">Search</button>
        </div>
     
    </div>
    <div class="main">
    <ul>
    <hr>
   <li class="meat lunch dinner"><a href="butter.ejs">Butter Chicken</a>
    <div class='large-font text-center top-20'>
        <ion-icon name="heart" class="add">
          <div class='red-bg'></div>
        </ion-icon>
      </div></li>
   <hr>
   <li  class="meat lunch "><a href="tacos.ejs">Tacos</a>
   <div class='large-font text-center top-20'>
    <ion-icon name="heart" class="add">
      <div class='red-bg'></div>
    </ion-icon>
  </div></li>
   <hr>
    <li  class="meat lunch dinner"><a href="pizza.ejs">Neapolitan Pizza</a>
        <div class='large-font text-center top-20'>
            <ion-icon name="heart" class="add">
              <div class='red-bg'></div>
            </ion-icon>
          </div></li>
    <hr>
    <li  class=""><a href="cookies.ejs">Cookies</a>
        <div class='large-font text-center top-20'>
            <ion-icon name="heart" class="add">
              <div class='red-bg'></div>
            </ion-icon>
          </div></li>
    <hr>
    <li  class=""><a href="pancakes.ejs">Pancakes</a>
        <div class='large-font text-center top-20'>
            <ion-icon name="heart" class="add">
              <div class='red-bg'></div>
            </ion-icon>
          </div></li>
    <hr>
    <li  class="meat veg lunch dinner"> <a href="burrito.ejs">Burrito</a>
        <div class='large-font text-center top-20'>
            <ion-icon name="heart" class="add">
              <div class='red-bg'></div>
            </ion-icon>
          </div></li>
    <hr>
    <li class="meat lunch dinner"> <a href="burger.ejs">Cheeseburger</a>
        <div class='large-font text-center top-20'>
            <ion-icon name="heart" class="add">
              <div class='red-bg'></div>
            </ion-icon>
          </div></li>
    <hr>
    <li class="meat breakfast dinner"><a href="omurice.ejs">Omurice</a>
        <div class='large-font text-center top-20'>
            <ion-icon name="heart" class="add">
              <div class='red-bg'></div>
            </ion-icon>
          </div></li>
    <hr>
    <li class="meat veg lunch dinner breakfast"> <a href="spaghetti.ejs">Spaghetti</a>
        <div class='large-font text-center top-20'>
            <ion-icon name="heart" class="add">
              <div class='red-bg'></div>
            </ion-icon>
          </div></li>
    <hr>
    <li class="meat veg lunch dinner"><a href="pad thai.ejs">Pad Thai</a>
        <div class='large-font text-center top-20'>
            <ion-icon name="heart" class="add">
              <div class='red-bg'></div>
            </ion-icon>
          </div></li>
    <hr>
    <li class="meat veg lunch dinner"><a href="">Green Curry</a>
        <div class='large-font text-center top-20'>
            <ion-icon name="heart" class="add">
              <div class='red-bg'></div>
            </ion-icon>
          </div></li>
    <hr>
    <li class="breakfast desert veg"><a href="">Croissants</a>
        <div class='large-font text-center top-20'>
            <ion-icon name="heart" class="add">
              <div class='red-bg'></div>
            </ion-icon>
          </div></li>
    <hr>
    <li class="meat lunch dinner"><a href="">Mutton Biryani</a>
        <div class='large-font text-center top-20'>
            <ion-icon name="heart" class="add">
              <div class='red-bg'></div>
            </ion-icon>
          </div></li>
    <hr>
    <li class="meat  lunch dinner"><a href="">Kung Pao Chicken</a>
        <div class='large-font text-center top-20'>
            <ion-icon name="heart" class="add">
              <div class='red-bg'></div>
            </ion-icon>
          </div></li>
    <hr>
    <li class="meat veg lunch dinner"><a href="">Ramen</a>
        <div class='large-font text-center top-20'>
            <ion-icon name="heart" class="add">
              <div class='red-bg'></div>
            </ion-icon>
          </div></li>
    <hr>
    <li class="meat veg lunch dinner"><a href="">Tempura</a>
        <div class='large-font text-center top-20'>
            <ion-icon name="heart" class="add">
              <div class='red-bg'></div>
            </ion-icon>
          </div></li>
    <hr>
    <li class="meat veg breakfast lunch dinner"><a href="">Dim Sum</a>
        <div class='large-font text-center top-20'>
            <ion-icon name="heart" class="add">
              <div class='red-bg'></div>
            </ion-icon>
          </div></li>
    <hr>
    <li class="veg breakfast lunch"><a href="">Masala Dosa</a>
        <div class='large-font text-center top-20'>
            <ion-icon name="heart" class="add">
              <div class='red-bg'></div>
            </ion-icon>
          </div></li>
    <hr>
</ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap>@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script src="recipe.js" charset="UTF-8"></script>
</body>
</html>