<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butter Chicken</title>
</head>
<link rel="stylesheet" href="dishes.css">
<body class="light">
    <img src="Dishes/spaghetti.jpg">
    <div class="instruction">
   <h1> Ingredients:</h1>
   <ul>
<li>8 oz (225g) spaghetti noodles</li>
<li>2 tablespoons olive oil</li>
<li>3 cloves garlic, minced</li>
<li>1/2 onion, finely chopped</li>
<li>1 (28 oz) can crushed tomatoes</li>
<li>1 teaspoon dried oregano</li>
<li>1 teaspoon dried basil</li>
<li>1/2 teaspoon crushed red pepper flakes (optional)</li>
<li>Salt and pepper to taste</li>
<li>Grated Parmesan cheese for serving</li>
<li>Fresh basil leaves for garnish (optional)</li>
</ul>
<h1>Instructions:</h1>
 <h2>Cook Spaghetti: </h2>
 <ul>
    <li>Bring a large pot of salted water to a boil. Add the spaghetti noodles and cook according to the package instructions until al dente. Drain the cooked noodles, reserving about 1/2 cup of the pasta cooking water.</li>
 </ul>

<h2>Prepare Marinara Sauce:</h2>
<ul><li> While the spaghetti is cooking, heat olive oil in a large skillet over medium heat. Add minced garlic and chopped onion to the skillet, and sauté until softened and fragrant, about 2-3 minutes.</li>
</ul>

<h2>Add Crushed Tomatoes:</h2>
<ul>
    <li>Pour the crushed tomatoes into the skillet with the sautéed garlic and onion. Stir in dried oregano, dried basil, crushed red pepper flakes (if using), salt, and pepper. Bring the sauce to a simmer and let it cook for about 10-15 minutes, stirring occasionally, to allow the flavors to meld together and the sauce to thicken slightly.</li>
</ul>
<h2>Combine Sauce and Spaghetti: </h2>
<ul><li>Add the cooked spaghetti noodles to the skillet with the marinara sauce. Toss the spaghetti with the sauce until well coated, adding a splash of reserved pasta cooking water if needed to loosen the sauce and help it cling to the noodles.</li></ul>

<h2>Serve:</h2>
<ul><li>Divide the spaghetti among serving plates. Sprinkle grated Parmesan cheese over the top of each serving, and garnish with fresh basil leaves if desired. Serve immediately and enjoy!</li></ul>
<h2>Video Tutorial</h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/UmTqq_o6FSI?si=2sSw2H3H_6HQ0bNA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<section class="footer">
    <footer>
      <div class="end">
        <a href="#">Contact Us</a>
        <a href="#">LinkedIn</a>
        <a href="#">Instagram</a>
        <a href="#">Github</a>
    </div>
    </footer>
  </section>
</body>
</html>