<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butter Chicken</title>
</head>
<link rel="stylesheet" href="dishes.css">
<body class="light">
    <img src="Dishes/tacos.jpg">
    <div class="instruction">
   <h1> Ingredients:</h1>
   <ul>
<li>1 lb (450g) ground beef or chicken</li>
<li>1 onion, finely chopped</li>
<li>2 cloves garlic, minced</li>
<li>1 tablespoon chili powder</li>
<li>1 teaspoon ground cumin</li>
<li>1/2 teaspoon paprika</li>
<li>Salt and pepper to taste</li>
<li>1 cup (240ml) tomato sauce or salsa</li>
<li>8 small tortillas (corn or flour)</li>
<li>Toppings: shredded lettuce, diced tomatoes, shredded cheese, sour cream, sliced jalapeños, chopped cilantro, etc.</li>
</ul>
<h1>Instructions:</h1>
 <h2>Cook the Meat: </h2>
 <ul>
    <li> In a large skillet over medium heat, cook the chopped onion until softened, then add the minced garlic and cook for another minute. Add the ground beef or chicken to the skillet and cook until browned, breaking it up with a spoon as it cooks.</li>
 </ul>

<h2>Season the Meat:</h2>
<ul><li>Stir in the chili powder, ground cumin, paprika, salt, and pepper, and cook for a couple of minutes until fragrant.</li>
</ul>

<h2>Add Tomato Sauce:</h2>
<ul>
    <li>Pour in the tomato sauce or salsa and stir to combine. Simmer the mixture for about 10 minutes, stirring occasionally, until the flavors meld together and the sauce thickens slightly. Taste and adjust seasoning if necessary.</li>
</ul>
<h2>Warm the Tortillas: </h2>
<ul><li>While the meat is simmering, warm the tortillas. You can do this by wrapping them in a damp paper towel and microwaving them for about 30 seconds or by heating them in a dry skillet over medium heat for about 15-20 seconds on each side.</li></ul>
<h2>Assemble the Tacos: </h2>
<ul><li>Spoon some of the meat mixture onto each tortilla, then add your desired toppings such as shredded lettuce, diced tomatoes, shredded cheese, sour cream, jalapeños, and cilantro.</li></ul>
<h2>Serve:</h2>
<ul><li>Serve the tacos immediately while warm. Enjoy!</li></ul>
<h2>Video Tutorial</h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/ALeF0GUCSSk?si=JeM-ISgkym3Or4I3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<section class="footer">
    <footer>
      <div class="end">
        <a href="#">Contact Us</a>
        <a href="#">LinkedIn</a>
        <a href="#">Instagram</a>
        <a href="#">Github</a>
    </div>
    </footer>
  </section>
</body>
</html>